@import url('https://fonts.googleapis.com/css?family=Cabin');

body{
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    color: #808080;
}

a{
    color: grey;
    text-decoration: none;
    transition: .5s;
    outline: 0;
}

a:hover{
    color: #fe4600;
}

nav {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

ul {
    padding-left: 0;
    padding-top: 1em;
    padding-right: 1em;
    margin: 0;
}

li {
    padding-bottom: .5em;
}

#scrollNav{
    position: fixed;
    display: none;
    transition: top .3s;
    z-index: 1;
    background-color: white;
    width: 100vw;
}

.active {
    color: #fe4600;
    transition: .5s;
}

.active:hover{
    color: lightgrey;
}

.orangeBar{
    background-color: #fe4600;
    width: 1em;
    height: 5.55em;
    position: absolute;
    left: 0;
    top: 0;
}

.title{
    position: absolute;
    margin: 0;
    padding-left: 2em;
    padding-top: 3.7em;
    width: 10em;
    left: 0;
}

.title img{
    width: 100%;
}

hr {
    border-top: 1px dotted #808080;
    margin: 0;
}

footer {
    font-size: 1em;
    text-align: right;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

footer h6{
    margin: 0;
    padding: 1em;
}

/* Work page */

#work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail {
    max-width: 25em;
    padding: 1em;
}

.thumbnail img {
    width: 100%;
    cursor: pointer;
}

#project {
    display: none;
    flex-direction: column;
    justify-content: center;
    max-width: 100vw;;
}

#close{
    padding: 1em;
    position: fixed;
    display: none;
    z-index: 1;
}

#close h2 {
    margin: 0;
    cursor: pointer;
}

#test{
    width: 100vw;
}

#projectLeft{
    background-attachment: fixed;
    background-position: center;
    background-position-y: 5.5em;
    background-repeat: no-repeat;
    background-size: contain;
    height: 90vh;
    width: 100vw;
}

#projectRight {
    display: flex;
    justify-content: center;
    align-content: center;
}

#projectDesc {
    max-width: 50em;
}

#projectThumb{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbs{
    background-attachment: fixed;
    background-position: center;
    background-position-y: 5.5em;
    background-repeat: no-repeat;
    background-size: contain;
    height: 90vh;
    width: 100vw;
}

/* About page */

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.paragraph{
    max-width: 40em;
    padding: 1em;
}

.paragraph p {
    margin: 0;
    line-height: 1.5em;
}

.aboutLink{
    color: #fe4600;
    transition: .5s;
}

.aboutLink:hover{
    color: lightgrey;
}

/* Contact Page */

.contactP {
    padding: 1em;
}

.contactP p {
    margin: 0;
    line-height: 1.5em;
}

@media screen and (max-width: 500px){
    .enough{
        position: relative;
    }
    #project{
        flex-direction: column;
    }
    #projectLeft{
        max-width: 100vw;
        background-attachment: inherit;
        background-position-y: center;
        height: 50vh;
    }
    .thumbs{
        background-attachment: inherit;
        background-position-y: 0;
        height: 50vh;
    }
    #projectRight{
        max-width: 100vw;
        padding: 1em;
    }
    #projectThumb{
        justify-content: center;
    }
    footer{
        text-align: center;
    }
}